.user-management {
    padding: 24px;
    background-color: #f9fff4;
    border-radius: 8px;
  }
  
  .user-management .input-group .form-control {
    border: 1px solid #BCDA70;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    padding: 8px;
  }
  
  .user-management .input-group .btn {
    border: 1px solid #90C447;
    background-color: #FFE7D2;
    color: #152B08;
    font-weight: 500;
  }
  .custom-thead {
  background-color: #C7DD9F !important; /* xanh nhạt nhẹ */
  color: #152B08 !important;            /* chữ xanh đậm */
  font-weight: 600;
  text-align: center;
}

.custom-thead th {
  vertical-align: middle;
  background-color: #C7DD9F !important;
  border-bottom: 2px solid #BCDA70 !important; ; 
  font-size: 14px;
}
  .user-management .btn-primary {
    background-color: #517B2C;
    border: none;
    color: white;
    font-weight: 500;
  }
  .btn-wide {
    min-width: 120px;
    white-space: nowrap;
  }
  .user-management .btn-primary:hover {
    background-color: #90C447;
    color: white;
  }
  
  .table {
    margin-top: 20px;
    font-size: 14px;
    color: #152B08;
    border: 1px solid #BCDA70;
  }
  
  .table thead {
    background-color: #C7DD9F;
    color: #152B08;
    font-weight: 600;
    text-align: center;
  }
  
  .table tbody tr:hover {
    background-color: #F6FFE3;
  }
  
  .table tbody td {
    vertical-align: middle;
    text-align: center;
  }
  
  .table input,
  .table select {
    width: 100%;
    padding: 6px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #BCDA70;
    background-color: #F8FFF2;
  }
  
  .table input:focus,
  .table select:focus {
    border-color: #517B2C;
    box-shadow: 0 0 0 2px rgba(145, 198, 71, 0.3);
    outline: none;
  }
  
  .btn-sm {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .btn-success {
    background-color: #517B2C;
    border: none;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #90C447;
  }
  
  .btn-warning {
    background-color: #FFA500;
    border: none;
    color: white;
  }
  
  .btn-warning:hover {
    background-color: #e69500;
  }
  
  .btn-secondary {
    background-color: #FFE7D2;
    border: 1px solid #BCDA70;
    color: #152B08;
  }
  
  .btn-secondary:hover {
    background-color: #C7DD9F;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #b21f2d;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .page-link {
    color: #517B2C;
    font-weight: 500;
    border: 1px solid #BCDA70;
  }
  
  .page-item.active .page-link {
    background-color: #90C447;
    color: white;
    border-color: #90C447;
  }
  
  .page-item.disabled .page-link {
    background-color: #f0f0f0;
    color: #aaa;
  }
  