<div class="admin-dashboard container-fluid">
    <div class="row welcome-section align-items-center">
        <div class="col-12 col-md mb-3 mb-md-0">
            <h2 class="welcome-message">Welcome, {{ profileName }}</h2>
        </div>
        <div class="col-12 col-md-auto text-md-end action-buttons">
            <button class="btn btn-return me-2 mb-2 mb-md-0" (click)="navigateToHome()">Return to Website</button>
            <button class="btn btn-change-password">Change Password</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-lg-7 mb-4 mb-lg-0 recent-activity-section">
            <h5 class="section-title mb-3 d-flex align-items-center" data-bs-toggle="collapse"
                data-bs-target="#recentActivities" aria-expanded="true">
                <i class="fa fa-angle-down me-2"></i> Recent Activities
            </h5>
            <div id="recentActivities" class="collapse show">
                <div class="card mb-3 recent-activity-card" *ngFor="let activity of recentActivities">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <span><i class="fa fa-edit me-2"></i>{{ activity.category }}/{{ activity.item }}</span>
                        <span class="activity-name"></span>
                        <i class="fa fa-clock"></i>
                    </div>
                </div>
                <div class="pagination-controls d-flex justify-content-between">
                    <button class="btn btn-pagination">Previous</button>
                    <span>1/10</span>
                    <button class="btn btn-pagination">Next</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-5 admin-menu-section">
            <div class="card mb-3 menu-card">
                <div class="card-header menu-header d-flex align-items-center" data-bs-toggle="collapse"
                    data-bs-target="#authMenu" aria-expanded="true">
                    <i class="fa fa-angle-down me-2"></i> Authentication
                </div>
                <ul id="authMenu" class="collapse show list-group list-group-flush menu-list">
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin'" class="menu-link">Groups <i class="fa fa-edit float-end"></i></a>
                    </li>
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin/user-adm'" class="menu-link">Accounts <i
                                class="fa fa-edit float-end"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card menu-card">
                <div class="card-header menu-header d-flex align-items-center" data-bs-toggle="collapse"
                    data-bs-target="#mainMenu" aria-expanded="true">
                    <i class="fa fa-angle-down me-2"></i> Features
                </div>
                <ul id="mainMenu" class="collapse show list-group list-group-flush menu-list">
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin/product-adm'" class="menu-link">Products <i
                                class="fa fa-edit float-end"></i></a>
                    </li>
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin/order-adm'" class="menu-link">Orders <i
                                class="fa fa-edit float-end"></i></a>
                    </li>
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin/blog-adm'" class="menu-link">Blogs <i class="fa fa-edit float-end"></i></a>
                    </li>
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin'" class="menu-link">Discounts <i class="fa fa-edit float-end"></i></a>
                    </li>
                    <li class="list-group-item menu-item">
                        <a [routerLink]="'/admin'" class="menu-link">Contact <i class="fa fa-edit float-end"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>