.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #C7DD9F; /* nền xanh lá nhạt chủ đạo */
    top: 0;
    left: 0;
    position: fixed;
}

.sidebar-logo img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #152B08; /* xanh đậm cho chữ mặc định */
    text-decoration: none;
}

.nav-link:hover {
    color: #517B2C; /* xanh trung bình khi hover */
}

.collapse .nav-link {
    padding-left: 1.5rem;
}

.collapse .nav-link:hover {
    color: #517B2C;
}

.nav-item .nav-item {
    margin-top: 1.5rem;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.3s ease;
    }

    .sidebar.show {
        left: 0;
    }
}
