<div class="center-container">
    <div class="container-forgot-password">
      <h2 class="text-secondary text-center fw-bold">Change Password</h2>
      <p class="text-primary text-center">
        Enter your email and we’ll send you instructions on how to reset your password
      </p>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="email"
            placeholder="Enter your email address"
            class="form-control input-email"
            formControlName="email"
            required
            aria-label="Email"
            autocomplete="email"
          />
        </div>
  
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
        <div class="buttons-container">
          <button type="button" class="btn fw-bold btn-outline-primary" (click)="onCancel()">CANCEL</button>
          <button type="submit" class="btn fw-bold btn-primary">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>